body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

canvas {
    top: 0px;
    left: 0px;
    position: fixed;
}

main {
    z-index: 99;
    position: absolute;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li img {
    width: 50px;
    mix-blend-mode: darken;
}

li a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    display: block;
    color: rgb(228, 228, 228);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ffffff82;
    color: rgb(32, 32, 32);
}

#pageContent {
    margin-top: 30px;
    width: 100%;
}

#TitleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 60%;
}

#me {
    margin-top: 40%;
    width: 100%;
    color: aliceblue;
    background-color:rgba(122, 122, 122, 0.731);
}

#me h1{
    padding: 20px;
}

#work {
    background-color:rgb(38, 121, 88);
}